/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

.filter-container {
    margin: 20px;
}

.filter-btn {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
}

.filter-btn:hover {
    background-color: #2980b9;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    width: 30%;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
